.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  list-style: none;
}

.card__text {
  max-width: 219px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}
