.header {
  border-bottom-style: solid;
  border-color: rgba(84, 84, 84, 0.7);
  border-width: 1px;
}

.header__logo {
  padding-bottom: 41px;
}
@media screen and (max-width: 320px) {
  .header__logo {
    height: 24px;
    width: 126px;
    padding-left: 27px;
    padding-bottom: 32px;
  }
}
