.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  padding: 0 19px;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.modal__container {
  background-color: #fff;
  margin: auto;
  padding: 36px;
  border-radius: 10px;
  position: relative;
  width: 430px;
  box-sizing: border-box;
}

.modal__heading {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000;
  margin: 0 0 24px;
}

.modal_opened {
  pointer-events: all;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s linear;
}

.modal__close {
  width: 40px;
  height: 40px;
  padding: 0 19px;
  background-image: url("../Images/Close\ Icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
}

.modal__close:hover {
  opacity: 0.6;
  transition: opacity 0.5s ease-in-out;
}

.modal__form {
  display: flex;
  align-items: center;
  row-gap: 8px;
  flex-direction: column;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.modal__button {
  width: 100%;
  height: 50px;
  margin-top: 48px;
  border-radius: 2px;
  background-color: #000;
  border: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}
.modal__container_type_preview {
  background: none;
  padding: 0;
  max-height: 75vh;
  max-width: 75vw;
  display: flex;
}

.modal__image_popup {
  object-fit: cover;
  max-width: 100%;
}

.modal__caption {
  position: absolute;
  left: 0;
  color: white;
  top: calc(100% + 10px);
  margin: 0;
  font: 400;
  font-size: 12px;
  font-family: "Inter", Arial, sans-serif;
  line-height: 14.52px;
}
.modal__input {
  width: 100%;
  height: 50px;
  border-radius: 2px;
  background-color: transparent;
  color: #000;
  border: none;
  line-height: 17px;
  display: flex;
  border-bottom-style: solid;
  border-color: rgba(0, 0, 0, 0.2);
  border-width: 1px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  margin: auto;
  position: relative;
}
.modal__input:focus {
  outline: none;
}

.modal__error {
  font-size: 12px;
  visibility: hidden;
  display: block;
  font-family: "Inter", Arial, sans-serif;
  line-height: 15px;
  color: #ff0000;
  top: calc(100% + 5px);
  left: 0;
  transition: opacity 0.3;
  width: 358px;
  position: absolute;
}

.modal__input_type_error {
  border-bottom: 1px solid #ff0000;
}

.modal__error_visible {
  visibility: visible;
}

.modal__button_disabled {
  opacity: 0.2;
  color: #000;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.modal__label {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media screen and (min-width: 320px) and (max-width: 880px) {
  .modal__container {
    width: 282px;
    border: 1px;
    padding: 25px 22px;
  }

  .modal__close {
    height: 26px;
    width: 26px;
    bottom: calc(100% + 14px);
    left: calc(100% - 25px);
  }
  .modal__heading {
    font-size: 18px;
  }
  .moda__button {
    font-size: 14px;
  }
  .modal__error {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .modal__button-text {
    font-size: 14px;
  }
}
