.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 373px) auto;
  align-items: center;
}

.profile__edit-button {
  background: transparent no-repeat center url(../Images/Vector\ Pencil.svg);
  height: 24px;
  width: 24px;
  border: 1px solid #fff;
}
.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
  transition: opacity 0.5s ease-in-out;
}

.profile__add-button {
  background: transparent url(../Images/Vector\ PLus.svg) center no-repeat;
  width: 150px;
  height: 50px;
  grid-area: button;
  margin-left: auto;
  border: 2px solid #fff;
  border-radius: 2px;
}
.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
  transition: opacity 0.5s ease-in-out;
}
.profile__title {
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  grid-area: title;
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 373px;
}

.profile__description {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  grid-area: description;
  margin: 7px 0 0;
  font-family: "Inter", Arial, sans-serif;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

.profile__image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  background: center;
  margin-right: 24px;
}
@media screen and (max-width: 700px) {
  .profile__title {
    font-size: 22px;
    line-height: 27px;
    max-width: 270px;
  }

  .profile__description {
    font-size: 14px;
    line-height: 17px;
    margin: 14px 0 0;
    max-width: 282px;
    text-align: center;
  }
  .profile__image {
    margin: 0 0 30px;
  }
  .profile__add-button {
    width: 282px;
    background-size: 5%;
    margin: 36px 0 0;
  }
  .profile__edit-button {
    width: 18px;
    height: 18px;
    background-size: 7.5px;
  }
  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0 10px;
  }
  .profile {
    flex-direction: column;
  }
}
