.footer {
  display: block;
  flex-direction: column;
  align-items: start;
  padding-bottom: 60px;
  padding-top: 67px;
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
}

.footer__title {
  color: rgba(84, 84, 84, 1);
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  margin: 0 auto;
  width: 100%;
}

@media screen and (max-width: 660px) {
  .footer {
    max-width: 282px;
    width: 100%;
    margin: 0;
    padding: 48px 19px 36px;
  }

  .footer__title {
    font-size: 14px;
    line-height: 1.21;
    max-width: 282px;
  }
}
@media screen and (max-width: 480px) {
  .footer {
    padding: 0;
  }

  .footer__title {
    padding: 48px 0 36px;
  }
}

@media screen and (max-width: 320px) {
  .footer__title {
    padding-left: 19px;
  }
}
